Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-assert-side-effect,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-move-const-arg,
  performance-no-automatic-move,
  performance-unnecessary-copy-initialization
WarningsAsErrors: '*'
HeaderFilterRegex: '^(.*[\\/])?(include|src)[\\/]Lorenzo2D[\\/].*'
FormatStyle: file
SystemHeaders: false
